.unique-color {
  background-color: #3f729b!important;
}
navbar{
   background-color: #3f729b!important; 
}
.navbar {
  background-color: #3f729b!important; 
}
.navbar-dark {
  background-color: #3f729b!important; 
}
.colx {
  background-color: #3f729b!important; 
}